{% extends "base.html" %}

{% block content %}

    <p class="about-p">Тимофеева Елена. ГУАП.
    <p class="about-p">Я очень люблю свою собаку. Каждое утро я хожу с ней гулять. Она очень забавная и смешная. А когда я отпускаю её с поводка, то она кружется вокруг меня. Я беру палочку кидаю её далеко - далеко, а она приносит её.
    <p class="about-p">Моя собака очень умная она знает практически все команды. И меня даже не затрудняет то что с ней надо гулять каждое утро и вечер. Вот мы приходим домой, она сразу же залазит в ванну и я ей мою лапки. Потом я беру расчёску для собак и чешу её.
    <p class="about-p">Потом уже осталось время покушать я накладываю ему его любимый корм. Всё уже пора ложится спать. Ночью он ложится ко мне в ноги и спит в них до самого утра. А утром повторяется всё тоже самое.
    <p class="about-p">Я люблю свою собаку! Она самая лучшая!

{% endblock %}