<div class="auth" id="auth">
    {% if request.user.is_authenticated %}
        <div class="auth-user">
            <p>Welcome to home, {{ request.user }}</p>
            <button class="auth-button" type="button"  onclick="ajax_logout()">Logout</button>
        </div>
    {% else %}
        <div class="auth-input">

            <div id="auth-input-error" onclick="auth_input_error_toogle();">
                <span>Wrong login or password</span>
            </div>

            <input class="auth-input-string" id="auth-login" name="username" type="text"  minlength="3" placeholder="Login"/>
            <input class="auth-input-string" id="auth-password" name="password" type="password"  minlength="6" placeholder="Password"/>

        </div>

        <button class="auth-button" id="button_submit" type="button" onclick="ajax_login()">Sign in</button>
        <button class="auth-button" type="button" onclick="location.href='{% url 'register' %}'">Sign up</button>

    {% endif %}

</div>

