<div class="auth" id="auth">
    {% if request.user.is_authenticated %}
        <p>Привет, {{ request.user }}</p>
        <form action="/logout/" method="post">
            {% csrf_token %}
            <button class="auth-button" type="submit">Выйти</button>
        </form>
    {% else %}
        <form action="/signin/" method="post">
        
            {% csrf_token %}

            <input class="auth-input-string" id="auth-login" name="username" type="text"  minlength="3" placeholder="Логин"/>
            <input class="auth-input-string" id="auth-password" name="password" type="password"  minlength="6" placeholder="Пароль"/>
            
            <button class="auth-button" id="button_submit" type="submit">Войти</button>
            <button class="auth-button" type="button" onclick="location.href='{% url 'register' %}'">Создать</button>

        </form>
    {% endif %}
</div>

