{% load news_extras %}

<!DOCTYPE html>

<html>

    <head>
        <link rel="shortcut icon" href="/static/images/logo.png" type="image/png">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="/static/js/main.js"></script>
        <link type="text/css" rel="stylesheet" href="/static/css/main.css">
        <title>Собачки.ру</title>
    </head>

    <body>
    
    <header>
        <div class="header-container">
            <img class="image-logo-left" src="/static/images/logo.png">
            <img class="image-logo-right" src="/static/images/logo.png">
        </div>
    </header>

    <div class="page_content">

        <div class="content-right">
            {% include "menu.html" %}
            {% include "auth.html" %}
        </div>

        {% if 'signup' in request.path %}
            {% include "signup.html" %}
        {% elif 'gallery/upload' in request.path %}
            {% include "upload.html" %}

        {% else %}

            <div class="content">
                {% block content %}
                {% endblock %}
            </div>

        {% endif %}

    </div>

    <footer>
        Любите собак и они будут любить Вас. Тимофеева Елена.
    </footer>
        
    </body>
</html>