{% extends "base.html" %}

{% block content %}

    <div class="article-content">
        <span class="article-paragraph">
            <h2 class="article-index-h2">What is a space?</h2>
            <p class="article-index-p"><img src="/static/images/space.jpg" alt="Space" class="article-index-image-right">In space, no one can hear you scream. This is because there is no air in space – it is a vacuum. Sound waves cannot travel through a vacuum.</p>
            <p class="article-index-p">'Outer space' begins about 100 km above the Earth, where the shell of air around our planet disappears. With no air to scatter sunlight and produce a blue sky, space appears as a black blanket dotted with stars.</p>
            <p class="article-index-p">Space is usually regarded as being completely empty. But this is not true. The vast gaps between the stars and planets are filled with huge amounts of thinly spread gas and dust. Even the emptiest parts of space contain at least a few hundred atoms or molecules per cubic metre.</p>
            <p class="article-index-p">Space is also filled with many forms of radiation that are dangerous to astronauts. Much of this infrared and ultraviolet radiation comes from the Sun. High energy X-rays, gamma rays and cosmic rays – particles travelling close to the speed of light – arrive from distant star systems.</p>
        </span>
        
        <span class="article-paragraph">
            <h2 class="article-index-h2">What Is a Black Hole?</h2>
            <p class="article-index-p"><img src="/static/images/blackhole.jpg" alt="Blackhole" class="article-index-image-left">A black hole is a region of spacetime exhibiting such strong gravitational effects that nothing—not even particles and electromagnetic radiation such as light—can escape from inside it.</p>
            <p class="article-index-p">The theory of general relativity predicts that a sufficiently compact mass can deform spacetime to form a black hole. The boundary of the region from which no escape is possible is called the event horizon. Although the event horizon has an enormous effect on the fate and circumstances of an object crossing it, no locally detectable features appear to be observed. In many ways a black hole acts like an ideal black body, as it reflects no light.</p>
            <p class="article-index-p">Moreover, quantum field theory in curved spacetime predicts that event horizons emit Hawking radiation, with the same spectrum as a black body of a temperature inversely proportional to its mass. This temperature is on the order of billionths of a kelvin for black holes of stellar mass, making it essentially impossible to observe.</p>
        </span>
        
        <span class="article-paragraph">
            <h2 class="article-index-h2">What Is a Wormhole?</h2>
            <p class="article-index-p"><img src="/static/images/wormhole.png" alt="Wormhole" class="article-index-image-right">A wormhole is a concept that represents a solution of the Einstein field equations: a non-trivial structure linking separate points in spacetime. A wormhole can be visualized as a tunnel with two ends, each at separate points in spacetime (i.e. different locations or different points of time), or by a transcendental bijection of the spacetime continuum.</p>
            <p class="article-index-p">Wormholes are consistent with the general theory of relativity, but whether wormholes actually exist is not known. A wormhole could connect extremely long distances such as a billion light years or more, short distances such as a few meters, different universes, or different points of time.</p>
            <p class="article-index-p">Geometrically, wormholes can be described as regions of spacetime that constrain the incremental deformation of closed surfaces. For example, in Enrico Rodrigo's The Physics of Stargates, a wormhole is defined informally as a region of spacetime containing a "world tube" (the time evolution of a closed surface) that cannot be continuously deformed (shrunk) to a world line (the time evolution of a point).</p>
        </span>
        
        <span class="article-paragraph">
            <h2 class="article-index-h2">What Is a neutron star?</h2>
            <p class="article-index-p"><img src="/static/images/neutron-star.jpg" alt="Blackhole" class="article-index-image-left">A neutron star is the collapsed core of a large star which before collapse had a total of between 10 and 29 solar masses. Neutron stars are the smallest and densest stars known to exist.</p>
            <p class="article-index-p">Though neutron stars typically have a radius on the order of 10 kilometres (6.2 mi), they can have masses of about twice that of the Sun. They result from the supernova explosion of a massive star, combined with gravitational collapse, that compresses the core past the white dwarf star density to that of atomic nuclei.</p>
            <p class="article-index-p">Once formed, they no longer actively generate heat, and cool over time; however, they may still evolve further through collision or accretion. Most of the basic models for these objects imply that neutron stars are composed almost entirely of neutrons (subatomic particles with no net electrical charge and with slightly larger mass than protons); the electrons and protons present in normal matter combine to produce neutrons at the conditions in a neutron star.</p>
            <p class="article-index-p">Neutron stars are supported against further collapse by neutron degeneracy pressure, a phenomenon described by the Pauli exclusion principle, just as white dwarfs are supported against collapse by electron degeneracy pressure. If the remnant star has a mass greater than about 3 solar masses, it continues collapsing to form a black hole.</p>
        </span>
        
    </div>

{% endblock %}