{% extends "base.html" %}

{% block content %}

    <div class="article-content">

        <p class="article-index-p">С древних времен собака живет рядом с человеком, он наш друг и помощник. Это первое животное, которое приручил древний человек. Он делилась с собакой едой, а та помогала ему на охоте и охраняла его и его жилье. С тех самых пор продолжается верная дружба между ними.
        <img class="article-index-image-left" src="/static/images/pes1.jpg">
        <p class="article-index-p">Сегодня роль собаки в жизни людей очень важна, она выполняет множество функций. Во-первых, собака - это обычно домашний любимец всей семьи, который согревает своим дружеским отношением сердце, развлекает, охраняет дом. Моя подруга очень любит собак. Она говорит, что собаки очень умные, умеют учиться, понимают хозяина даже без слов, чувствуя его настроение. Есть породы собак, например, лабрадор, которые являются очень добрыми, их берут в семьи с маленькими детьми, и они становятся для них настоящими друзьями и защитниками.
        <img class="article-index-image-right" src="/static/images/pes2.jpeg">
        <p class="article-index-p">Собака делает много полезного для нас. Специально обученные собаки помогают разыскивать людей в горах, спасать на воде, несут службу в милиции, а другие становятся поводырями людей, которые потеряли зрение, они не дадут вам заблудиться в лесу. Я уверен, собаки умеют делать еще много чего, о чем я и не знаю.
        <img class="article-index-image-left" src="/static/images/pes3.jpg">
        <p class="article-index-p">А дружба - это не игра в одни ворота, так что человек со своей стороны также должен быть настоящий товарищем своему любимцу. Обычно люди хорошо относятся к домашним собакам, заботятся о них, начиная от питания и заканчивая модными сейчас походами в собачьи салоны красоты! Интересно, что собаки не требуют много. За доброе отношение они рады и мягкой подушке в квартире, и обычной будке во дворе. Они согласны прожить жизнь в неволе ради того, чтобы быть нужными. Поэтому, по моему мнению, самое важное - это не обижать животных, потому что у них тоже есть чувства, а своего хозяина они любят.
        <img class="article-index-image-right" src="/static/images/pes4.jpg">
        <p class="article-index-p">Собака - верный друг человека, который не посмеется и не предаст, поможет во всем, где может, поймет его настроение и попытается улучшить, несмотря на то, что он имеет четыре лапы и хвост и не умеет говорить. А взаимопонимание без слов еще более ценное. Поэтому стоит быть благодарным нашим любимцам за их преданность и отвечать им тем же самым.
        <img class="article-index-image-center" src="/static/images/pes5.jpg">

    </div>

{% endblock %}